body, html {
height: 100% !important;
}
.centered {
font-weight:700;
left:50%;
position:absolute;
top:50%;
transform:translate(-50%,-50%)
}

@media (min-width: 576px) {
.centered {
font-size:1rem
}
}

@media (min-width: 768px) {
.centered {
font-size:1.5rem
}
}

@media (min-width: 992px) {
.centered {
font-size:2.5rem
}
}

.text-pink {
color:#f0f
}

.bd-placeholder-img {
-moz-user-select:none;
-ms-user-select:none;
-webkit-user-select:none;
font-size:1.125rem;
text-anchor:middle;
user-select:none
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
font-size:3.5rem
}
}

.fa_custom {
color:#212529;
position:absolute;
right:10px;
top:15px
}

.text-custom {
color:#6F00FE
}

.text-mechanta {
color:# #FF5733
}

.custom-toggler .navbar-toggler-icon {
background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#0f0' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.custom-toggler.navbar-toggler {
border-color:#0f0;
margin:1px;
padding:0 5px
}

.text-header-custom {
font-weight:600
}

@media print {
.col-sm-12 {
width:100%!important
}
}

div.notification {
height:310px
}

div.notification1 {
font-size:12px;
height:235px
}

.marquee {
overflow:hidden
}

.more {
display:none
}

.more-text {
font-size:13px
}

div.delegates {
min-height:400px
}

div.delegates1 {
height:30px
}

@media (min-width: 1920px) {
div.notification {
height:180px
}

div.notification1 {
height:100px
}
}

.topnav {
overflow:hidden
}

section {
overflow:hidden;
padding:20px 0
}

.section-bg {
background-color:#f7fcfc
}

.section-title {
padding-bottom:10px;
text-align:center
}

.section-title h2 {
color:#05B749;
font-size:25px;
font-weight:700;
margin-bottom:10px;
padding-bottom:10px;
position:relative;
text-transform:uppercase
}

.section-title h2::after {
background:#f0f;
bottom:0;
content:"";
display:block;
height:2px;
left:calc(50% - 75px);
position:absolute;
width:150px
}

.section-title p {
margin-bottom:0
}

.team {
position:relative
}

.team .container {
position:relative;
z-index:10
}

.team .member {
margin-bottom:80px;
position:relative
}

.team .member .pic {
overflow:hidden
}

.team .member .member-info {
background:#fff;
bottom:-50px;
box-shadow:0 2px 15px rgba(0,0,0,0.1);
color:#000;
left:20px;
overflow:hidden;
padding:20px 15px;
position:absolute;
right:20px;
transition:.5s
}

.team .member h4 {
color:#f0f;
font-size:17px;
font-weight:700;
margin-bottom:10px;
padding-bottom:10px;
position:relative
}

.team .member h4::after {
background:#05B749;
bottom:0;
content:"";
display:block;
height:1.5px;
left:0;
position:absolute;
width:75px
}

.team .member span {
display:block;
font-size:13px;
font-style:italic;
font-weight:600
}

.team .member .social {
bottom:15px;
position:absolute;
right:15px
}

.team .member .social a {
color:#477392;
transition:color .3s
}

.team .member .social a:hover {
color:#ff4a17
}

.team .member .social i {
font-size:16px;
margin:0 2px
}

@media (max-width: 992px) {
.team .member {
margin-bottom:50px
}
}

.color-b {
color:#2eca6a
}

.navbar-default {
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
background-color:#fff;
transition:all .5s ease-in-out
}

.navbar-default.navbar-reduce {
box-shadow:1px 2px 15px rgba(100,100,100,0.3)
}

.navbar-default.navbar-trans,.navbar-default.navbar-reduce {
-webkit-backface-visibility:hidden;
backface-visibility:hidden
}

.navbar-default.navbar-trans .nav-item,.navbar-default.navbar-reduce .nav-item {
margin-left:0;
position:relative
}

@media (min-width: 768px) {
.navbar-default.navbar-trans .nav-item,.navbar-default.navbar-reduce .nav-item {
margin-left:15px
}
}

.navbar-default.navbar-trans .nav-link,.navbar-default.navbar-reduce .nav-link {
color:#000;
font-weight:700;
letter-spacing:.03em;
padding-left:0;
padding-right:0;
position:relative;
transition:all .1s ease-in-out
}

.navbar-default.navbar-trans .nav-link:before,.navbar-default.navbar-reduce .nav-link:before {
background-color:#2eca6a;
bottom:5px;
content:"";
height:2px;
left:0;
position:absolute;
transform:scaleX(0);
transform-origin:right;
transition:transform .2s ease-out,opacity .2s ease-out .3s;
width:100%;
z-index:0
}

.navbar-default.navbar-trans .nav-link:hover,.navbar-default.navbar-reduce .nav-link:hover {
color:#000
}

.navbar-default.navbar-trans .nav-link:hover:before,.navbar-default.navbar-reduce .nav-link:hover:before {
transform:scaleX(1);
transform-origin:left
}

.navbar-default.navbar-trans .show>.nav-link:before,.navbar-default.navbar-trans .active>.nav-link:before,.navbar-default.navbar-trans .nav-link.show:before,.navbar-default.navbar-trans .nav-link.active:before,.navbar-default.navbar-reduce .show>.nav-link:before,.navbar-default.navbar-reduce .active>.nav-link:before,.navbar-default.navbar-reduce .nav-link.show:before,.navbar-default.navbar-reduce .nav-link.active:before {
transform:scaleX(1)
}

.navbar-default.navbar-trans .nav-link:before {
background-color:#2eca6a
}

.navbar-default.navbar-trans .nav-link:hover {
color:#000
}

.navbar-default.navbar-trans .show>.nav-link,.navbar-default.navbar-trans .active>.nav-link,.navbar-default.navbar-trans .nav-link.show,.navbar-default.navbar-trans .nav-link.active {
color:#000
}

.navbar-default.navbar-reduce {
transition:all .5s ease-in-out
}

.navbar-default.navbar-reduce .nav-link {
color:#000
}

.navbar-default.navbar-reduce .nav-link:before {
background-color:#2eca6a
}

.navbar-default.navbar-reduce .nav-link:hover {
color:#000
}

.navbar-default.navbar-reduce .show>.nav-link,.navbar-default.navbar-reduce .active>.nav-link,.navbar-default.navbar-reduce .nav-link.show,.navbar-default.navbar-reduce .nav-link.active {
color:#000
}

.navbar-default.navbar-reduce .navbar-brand {
color:#000
}

.text-brand {
color:#000;
font-size:1.5rem;
font-weight:600
}

.card-box-a .img-a,.card-box-a .img-b,.card-box-b .img-a,.card-box-b .img-b {
transition:.8s all ease-in-out
}

@media (min-width: 768px) {
.card-box-a:hover .img-a,.card-box-a:hover .img-b,.card-box-b:hover .img-a,.card-box-b:hover .img-b {
transform:scale(1.2)
}
}

.socials-a {
text-decoration:none
}

.socials-a .list-inline-item:not(:last-child) {
margin-right:25px
}

.color-text-a {
color:#555;
text-decoration:none
}

.section-footer {
background:#f3f3f3;
margin-top:60px;
padding-top:60px
}

.section-footer ul {
line-height:2
}

.section-footer .item-list-a i {
color:#2eca6a;
font-size:18px;
padding-right:4px
}

.section-footer .widget-a .w-title-a {
margin-bottom:1rem
}

footer {
background:#f3f3f3;
padding:30px 0;
text-align:center
}

footer .copyright-footer {
border-top:1px solid #ddd;
padding-top:20px
}

footer .credits {
font-size:14px
}

.text-justify {
text-align:justify
}

.intro {
color:#fff;
height:100vh;
position:relative
}

.intro .swiper-pagination {
bottom:50px
}

.intro .swiper-pagination .swiper-pagination-bullet {
background-color:#fff;
border-radius:0;
height:10px;
opacity:1;
transition:.3s;
width:18px
}

.intro .swiper-pagination .swiper-pagination-bullet-active {
background-color:#2eca6a;
width:36px
}

.intro .intro-item {
padding-top:2rem
}

.intro .carousel-item-a {
height:100vh;
position:relative
}

.intro .carousel-item-a.bg-image {
background-attachment:scroll
}

.intro .intro-content {
position:absolute
}

.intro .intro-body {
padding-left:1rem
}

@media (min-width: 768px) {
.intro .intro-body {
padding-left:2rem
}
}

.intro .intro-body .price-a {
border:2px solid #2eca6a;
border-radius:50px;
color:#fff;
letter-spacing:.03em;
padding:1rem 1.5rem;
text-transform:uppercase
}

.intro .spacial {
animation-delay:.2s;
color:#fff
}

.intro .intro-title-top {
color:#fff;
font-size:.9rem;
letter-spacing:.05em;
margin-bottom:1rem
}

@media (min-width: 768px) {
.intro .intro-title-top {
font-size:.9rem;
margin-bottom:1rem
}
}

@media (min-width: 992px) {
.intro .intro-title-top {
font-size:1rem;
margin-bottom:2rem
}
}

.intro .intro-title {
color:#fff;
font-size:2.8rem;
font-weight:700;
text-transform:uppercase
}

@media (min-width: 576px) {
.intro .intro-title {
font-size:3.5rem
}
}

@media (min-width: 768px) {
.intro .intro-title {
font-size:3.5rem
}
}

@media (min-width: 992px) {
.intro .intro-title {
font-size:4rem
}
}

.intro .intro-subtitle {
font-size:1.5rem;
font-weight:300
}

@media (min-width: 768px) {
.intro .intro-subtitle {
font-size:2.5rem
}
}

.intro .intro-subtitle.intro-price {
font-size:1.2rem;
padding-top:1rem
}

@media (min-width: 576px) {
.intro .intro-subtitle.intro-price {
font-size:1.3rem
}
}

@media (min-width: 768px) {
.intro .intro-subtitle.intro-price {
font-size:1.5rem;
padding-top:2rem
}
}

@media (min-width: 992px) {
.intro .intro-subtitle.intro-price {
padding-top:3rem
}
}

@media only screen and (max-width: 800px) {
#no-more-tables table,#no-more-tables thead,#no-more-tables tbody,#no-more-tables th,#no-more-tables td,#no-more-tables tr {
display:block
}

#no-more-tables thead tr {
left:-9999px;
position:absolute;
top:-9999px
}

#no-more-tables tr {
border:1px solid #ccc
}

#no-more-tables td {
border:none;
border-bottom:1px solid #eee;
padding-left:50%;
position:relative;
text-align:left;
white-space:normal
}

#no-more-tables td:before {
content:attr(data-title);
font-weight:700;
left:6px;
padding-right:10px;
position:absolute;
text-align:left;
top:6px;
white-space:nowrap;
width:45%
}
}
